body {
  font-family: 'Fira Code', monospace;
  background-color: #d9b310;
}

.home-header {
  margin: auto 250px;
}

.footer-font {
  font-size: 14px;
  color: #fff;
}

.survey-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-button {
  background-color: #d9b310;
  border-color: #d9b310;
  color: #000;
}

.custom-button:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}