body {
  font-family: "Fira Code", monospace;
  background-color: #d9b310;
}

.home-header {
  margin: auto 100px;
}

.footer-font {
  font-size: 14px;
  color: #fff;
}

.survey-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-button {
  background-color: #d9b310;
  border-color: #d9b310;
  color: #000;
}

.custom-button:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.modal {
  width: 600px;
  height: 500px;
  display: none;
  top: 200px;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
}

.answer-name {
  text-align: center;
  font-size: 23px;
}

.answer-photo {
  height: 400px;
  width: 600px;
}

